{% extends 'opera/Base.html' %}
{% load static %}
{% block title_tab %}
OperaFolio | New Folio
{% endblock %}
{% load humanize %}
{% block content %}
<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-20">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Demo Hotel</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="{% url 'opera:opera' %}">Home</a></li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
				<!-- Striped table start -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix mb-20">
					<div class="pull-left">
						<h4 class="text-blue h4">Folio Info</h4>
					</div>
				</div>
				<table class="table table-hover data-table-export" style="width: 100%;">
					<thead>
						<tr>
							<th class="table-plus datatable-nosort" style="font-size: small;">ID</th>
							<th style="font-size: small;">Folio No.</th>
							<th style="font-size: small;">Conf. No.</th>
							<th style="font-size: small;">Room No.</th>
							<th style="font-size: small;">User</th>
							<th style="word-wrap: break-word; font-size: small;">Net Amount</th>
							<th style="word-wrap: break-word; font-size: small;">Gross Amount</th>
							<th style="word-wrap: break-word; font-size: small;">VAT</th>
							<th style="word-wrap: break-word; font-size: small;">SVC</th>
							<th style="word-wrap: break-word; font-size: small;">SCT</th>
							<th style="word-wrap: break-word; font-size: small;">Payment Method</th>
							<th style="word-wrap: break-word; font-size: small;">Folio Generate Date</th>
							<th style="word-wrap: break-word; font-size: small;">E-Invoice No.</th>
							<th style="word-wrap: break-word; font-size: small;">E-Invoice Issue Date</th>
							<th style="word-wrap: break-word; font-size: small;">E-Invoice Status</th>
						</tr>
					</thead>
					<tbody>
						{% for doc in documentinfo %}
						<tr>
							<td class="table-plus" style="font-size: small;">
								<a href="{% url 'opera:folio_detail' doc.id %}">{{ doc.id }}</a>
							</td>
							<td style="font-size: small;">{{ doc.FolioNo }}</td>
							<td style="font-size: small;">{{ doc.ConfirmationNo }}</td>
							<td style="font-size: small;">{{ doc.RoomNumber }}</td>
							<td style="font-size: small;">{{ doc.AppUser }}</td>
							<td style="font-size: small;">{{ doc.NetAmount|floatformat:'0'|intcomma }} </td>
							<td style="font-size: small;">{{ doc.GrossAmount|floatformat:'0'|intcomma }}</td>
							<td style="font-size: small;">{{ doc.Taxes.1.BucketCodeTotalGross|floatformat:'0'|intcomma }}</td>
							<td style="font-size: small;">{{ doc.Taxes.2.BucketCodeTotalGross|floatformat:'0'|intcomma }}</td>
							<td style="font-size: small;">{{ doc.Taxes.3.BucketCodeTotalGross|floatformat:'0'|intcomma }}</td>
							<td style="font-size: small; word-wrap: break-word;">{{ doc.PaymentMethod }}</td>
							<td style="font-size: small; word-wrap: break-word;">{{ doc.FolioCreatedDate }}</td>
							<td style="font-size: small; word-wrap: break-word;">{{ doc.EinvoiceInfo.EinvoiceNumber }}</td>
							<td style="font-size: small; word-wrap: break-word;">{{ doc.EinvoiceInfo.EinvoiceIssueDateTime }}</td>
							<td style="font-size: small; word-wrap: break-word;">{{ doc.EinvoiceInfo.EinvoiceStatus }}</td>
						</tr>
						{% endfor %}
					</tbody>
				
				<div class="collapse collapse-box" id="striped-table">
					<div class="code-box">
						<div class="clearfix">
							<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#striped-table-code"><i class="fa fa-clipboard"></i> Copy Code</a>
							<a href="#striped-table" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
						</div>
						<pre><code class="xml copy-pre" id="striped-table-code">
							<table class="table table-striped">
							</table>
						</code></pre>
					</div>
				</div>
			</div>
			<!-- Striped table End -->
		</div>
	</div>
</div>
{% endblock %}
