{% extends 'opera/Base.html' %}
{% load static %}
{% block title_tab %}
OperaFolio | Tax Info
{% endblock %}
{% load humanize %}
{% block content %}
<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Demo Hotel</h4>
						</div>
					</div>
				</div>
			</div>
				<!-- Striped table start -->
				<div class="pd-20 card-box mb-30">
					<div class="clearfix mb-20">
						<div class="pull-left">
							<h4 class="text-blue h4">Please select your PMS Platform</h4>
						</div>
					</div>
                    <div class="input-group mb-15">
                        <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'opera:opera' %}">Opera V5</a>
                    </div>
                    <div class="input-group mb-15">
                        <a class="btn btn-outline-primary btn-lg btn-block" href="{% url 'operacloud:operacloud' %}">Opera Cloud</a>
                    </div>
				</div>
				<!-- Striped table End -->
		</div>
	</div>
</div>
{% endblock %}